<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
	<link rel="stylesheet" href="/stylesheets/style.css"  type="text/css">
</head>
<body>
    <ul class="nav">
        <li><a  href="/">Home page</a></li>
        <li><a href="services">Our Services</a></li>
        <li><a href="contact">Contact us</a></li>
    </ul>
      <h1>Home page</h1>
      <br>
      <form>
          <input type="text" id="search" autocomplete="on" />
      </form>
      <main id="main"></main>
</body>
</html>